*{margin:0px;padding:0px;box-sizing:border-box;font-size:16px;font-family: 'Indie Flower', cursive;color:black;}
#header-nav {background-color: #cccccc;border-radius: 0;border: 0;border:2px solid black;}
.navbar-header{font-size:3em;}
#menu{font-size:2em;padding:5px 0;text-align:center;}
section{width:100%;float:left;padding:10px;margin-bottom:10px;}
.section{padding:5px;box-sizing:border-box;}
section > div{border:1px solid black;padding:15px;background-color:#cccccc;}
.section-heading{font-size:1.2em;text-align:center;font-weight:bold;margin-bottom:10px;margin-top:-15px;}
#nav-list{list-style-type:none;float:right;}
#nav-list li{display:inline-block;}
.button{float:right;position:absolute;right:0px;}
.title{float:left;position:absolute;left:0px;padding-bottom:15px;}
li a{text-decoration:none;text-align:center;display:block;width:100%;}
ul{width:100%;text-align:center;}
ul li a{color:black;}
.navbar{margin-bottom:0px !Important;min-height:70px !Important;}
.navbar-collapse {padding-right: 15px !Important;padding-left: 15px !Important;}
hr{margin-top: 0px !important;margin-bottom: 0px !important;}
.ul .col-md-12{padding-right: -15px;padding-left: -15px;border:1px solid black;}
.nav>li>a:hover{background-color:white !Important;color:black !Important;}
